@{
	ViewData["Title"] = "Home Page";
	ViewData["CurrentPage"] = "Home Page";
	Layout = "~/Views/Shared/AdminLTE/_AdminLayout.cshtml";
	ViewData["ControllerName"] = nameof(HomeController).Replace("Controller", "");
	ViewData["ActionName"] = nameof(HomeController.Index);
}

<div class="text-center">
	<h1 class="display-4">Test WhatsApp Send Messsage functions</h1>
</div>
