@model SendContactMessageViewModel
@{
	ViewData["Title"] = "Send WhatsApp Contact Message Page";
	ViewData["CurrentPage"] = "Send WhatsApp Contact Message";
	Layout = "~/Views/Shared/AdminLTE/_AdminLayout.cshtml";
	ViewData["ControllerName"] = nameof(HomeController).Replace("Controller", "");
	ViewData["ActionName"] = nameof(HomeController.SendWhatsAppContactMessage);
}

<section class="content">
	<div class="row">
		<div class="col-12">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Send WhatsApp Contact Message</h3>
				</div> <!--/. card-header -->
				<!--Form start -->
				<form asp-action="SendWhatsAppContactMessage">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="card-body">
						<div class="form-group">
							<label class="control-label">Recipient Phone Number</label>
							<input asp-for="RecipientPhoneNumber" class="form-control" />
							<span asp-validation-for="RecipientPhoneNumber" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">First Name</label>
							<input asp-for="FirstName" class="form-control" />
							<span asp-validation-for="FirstName" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Middle Name</label>
							<input asp-for="MiddleName" class="form-control" />
							<span asp-validation-for="MiddleName" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Last Name</label>
							<input asp-for="LastName" class="form-control" />
							<span asp-validation-for="LastName" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Contact Phone Number</label>
							<input asp-for="ContactPhoneNumber" class="form-control" />
							<span asp-validation-for="ContactPhoneNumber" class="form-control" />
						</div>
					</div> <!--/. card-body -->
					<div class="card-footer">
						<button type="submit" name="submit" class="btn btn-primary">Send Message</button>
					</div>
				</form>
			</div> <!-- /.card -->
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	} 