@model SendTemplateMessageViewModel
@{
	ViewData["Title"] = "Send WhatsApp Template Message Page";
}

<div class="text-center">
	<h1 class="display-4">Send WhatsApp Template Message</h1>
</div>
<div class="row">
	<form method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label class="control-label">Recipient Phone Number</label>
			<input asp-for="RecipientPhoneNumber" class="form-control" />
			<span asp-validation-for="RecipientPhoneNumber" class="form-control" />
		</div>
		<div class="form-group">
			<label class="control-label">Template Name</label>
			<input asp-for="TemplateName" class="form-control" />
			<span asp-validation-for="TemplateName" class="form-control" />
		</div>
		<div class="form-group">
			<label class="control-label">Media Id</label>
			<input asp-for="MediaId" class="form-control" />
			<span asp-validation-for="MediaId" class="form-control" />
		</div>
		<div class="form-group">
			<label class="control-label">Link Url</label>
			<input asp-for="MediaId" class="form-control" />
			<span asp-validation-for="LinkUrl" class="form-control" />
		</div>
		<div class="form-group">
			<button asp-action="SendWhatsAppTemplateMessage" asp-controller="Home" class="btn btn-primary">Send Template Message</button>
			<button asp-action="SendWhatsAppTextTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Text Template Message With Parameters</button>
			<button asp-action="SendWhatsAppInteractiveTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Interactive Template Message With Parameters</button>
			<button asp-action="SendWhatsAppMediaTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Media Template Message With Parameters</button>
			<button asp-action="SendWhatsAppDocumentTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Document Template Message With Parameters</button>
			<button asp-action="SendWhatsAppVideoTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Video Template Message With Parameters</button>
		</div>
	</form>
</div>
