@model SendInteractiveMessageViewModel
@{
	ViewData["Title"] = "Send WhatsApp Interactive Message Page";
}

<div class="text-center">
	<h1 class="display-4">Send WhatsApp Interactive Message</h1>
</div>
<div class="row">
	<form asp-action="SendWhatsAppInteractiveMessage">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label class="control-label">Recipient Phone Number</label>
			<input asp-for="RecipientPhoneNumber" class="form-control" />
			<span asp-validation-for="RecipientPhoneNumber" class="form-control" />
		</div>
		<div class="form-group">
			<label class="control-label">Message</label>
			<input asp-for="Message" class="form-control" />
			<span asp-validation-for="Message" class="form-control" />
		</div>
		<div class="form-group">
			<label class="control-label">Interactive Type</label>
			<select class="form-control form-select form-select-lg mb-3" asp-for="SelectedInteractiveType" asp-items="@Model.InteractiveType"></select>
			<span asp-validation-for="SelectedInteractiveType" class="form-control" />
		</div>
		<div class="form-group">
			<input type="submit" value="Send Message" class="btn btn-primary" />
		</div>
	</form>
</div>
