@model SendMediaMessageViewModel
@{
	ViewData["Title"] = "Send WhatsApp Media Message Page";
	ViewData["CurrentPage"] = "Send WhatsApp Media Message";
	Layout = "~/Views/Shared/AdminLTE/_AdminLayout.cshtml";
	ViewData["ControllerName"] = nameof(HomeController).Replace("Controller", "");
	ViewData["ActionName"] = nameof(HomeController.SendWhatsAppMediaMessage);
}

<section class="content">
	<div class="row">
		<div class="col-12">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Send WhatsApp Media Message</h3>
				</div> <!--/. card-header -->
				<!--Form start -->
				<form asp-action="SendWhatsAppMediaMessage">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="card-body">
						<div class="form-group">
							<label class="control-label">Recipient Phone Number</label>
							<input asp-for="RecipientPhoneNumber" class="form-control" />
							<span asp-validation-for="RecipientPhoneNumber" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Message</label>
							<input asp-for="Message" class="form-control" />
							<span asp-validation-for="Message" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Media Type</label>
							<select class="form-control form-select form-select-lg mb-3" asp-for="SelectedMediaType" asp-items="@Model.MediaType"></select>
							<span asp-validation-for="SelectedMediaType" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Media Url</label>
							<input asp-for="MediaLink" class="form-control" />
							<span asp-validation-for="MediaLink" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Media Id</label>
							<input asp-for="MediaId" class="form-control" />
							<span asp-validation-for="MediaId" class="form-control" />
						</div>
					</div> <!--/. card-body -->
					<div class="card-footer">
						<button type="submit" name="submit" class="btn btn-primary">Send Message</button>
					</div>
				</form>
			</div> <!-- /.card -->
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	} 