@model SendTemplateMessageViewModel
@{
	ViewData["Title"] = "Send WhatsApp Template Message Page";
	ViewData["CurrentPage"] = "Send WhatsApp Template Message";
	Layout = "~/Views/Shared/AdminLTE/_AdminLayout.cshtml";
	ViewData["ControllerName"] = nameof(HomeController).Replace("Controller", "");
	ViewData["ActionName"] = nameof(HomeController.SendWhatsAppTemplateMessage);
}

<section class="content">
	<div class="row">
		<div class="col-12">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Send WhatsApp Template Message</h3>
				</div> <!--/. card-header -->
				<!--Form start -->
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="card-body">
						<div class="form-group">
							<label class="control-label">Recipient Phone Number</label>
							<input asp-for="RecipientPhoneNumber" class="form-control" />
							<span asp-validation-for="RecipientPhoneNumber" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Template Name</label>
							<input asp-for="TemplateName" class="form-control" />
							<span asp-validation-for="TemplateName" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Parameters Separate with #. e.g. Dog#Cat. Leave Blank if no Params </label>
							<input asp-for="TemplateParams" class="form-control" />
							<span asp-validation-for="TemplateParams" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Media Id</label>
							<input asp-for="MediaId" class="form-control" />
							<span asp-validation-for="MediaId" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label">Link Url</label>
							<input asp-for="LinkUrl" class="form-control" />
							<span asp-validation-for="LinkUrl" class="form-control" />
						</div>

					</div> <!--/. card-body -->
					<div class="card-footer">
						<div class="form-group">
							<button asp-action="SendWhatsAppTextMessage" asp-controller="Home" class="btn btn-primary">Send Text Template Message (with Params or not)</button>
							<button asp-action="SendWhatsAppMediaTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Image Template Message With Parameters</button>
							<button asp-action="SendWhatsAppVideoTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Video Template Message (with Params or not)</button>

							<button asp-action="SendWhatsAppDocumentTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Document Template Message With Parameters</button>
							<button asp-action="SendWhatsAppInteractiveTemplateMessageWithParameters" asp-controller="Home" class="btn btn-primary">Send Interactive Template Message With Parameters</button>
							<button asp-action="SendWhatsAppAuthenticationTemplateMessage" asp-controller="Home" class="btn btn-primary">Send Authentication Template Message</button>
							<button asp-action="SendWhatsAppCatalogueTemplateMessage" asp-controller="Home" class="btn btn-primary">Send Catalogue Template Message</button>
							<button asp-action="SendWhatsAppCarouselTemplateMessage" asp-controller="Home" class="btn btn-primary">Send Carousel Template Message</button>
							<button asp-action="SendWhatsAppCouponCodeTemplateMessage" asp-controller="Home" class="btn btn-primary">Send Coupon Code Template Message</button>
							<button asp_action="SendWhatsAppLimitedTimeOfferTemplateMessage" asp-controller="Home" class="btn btn-primary">Send Limited Time Offer Template Message</button>
							<button asp_action="SendWhatsAppFlowTemplateMessage" asp-controller="Home" class="btn btn-primary">Send Flow Template Message</button>
						</div>
					</div>
				</form>
			</div> <!-- /.card -->
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
} 
